
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
target/classes/com/codingame/game/Action.class
target/classes/com/codingame/game/HexGrid.class
target/classes/com/codingame/game/InvalidAction.class
target/classes/com/codingame/game/Player.class
target/classes/com/codingame/game/Referee.class
target/classes/view/assets/logo.png
target/classes/view/config.js
target/classes/view/demo.js
target/classes/view/View.class
target/test-classes/Agent1.class
target/test-classes/Agent2.class
target/test-classes/log4j2.properties
target/test-classes/Main.class
target/test-classes/META-INF/Yavalath.kotlin_module
target/classes/view/toggle-module/errors/MissingToggleError.js
target/classes/view/toggle-module/ToggleModule.js
target/classes/view/toggle/ToggleModule$Toggle.class
target/classes/view/toggle/ToggleModule.class
target/
